body {
    /* Vi sikrer os lige at skærmen kan fyldes helt ud! */
    background-color: white;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: relative;
}

header img {

    width: 100%;
    display: block;
}

nav {
    position: absolute;
    top: 1em;
    padding-left: 5em;
}

nav a:link {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

nav a:visited {
    font-family: 'Work Sans', sans-serif;
    color: white;
}

.video {
    background-color: black;
    background-image: url(glas.jpg);
    background-repeat: no-repeat;
}

.video img {
    opacity: .8;
    width: 100%;
    display: block;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.column {

margin-left: 40px;
margin-right: 15px;

}

.right {

padding-top: 20px;
padding-left: 10px;
}

H1 {

    font-family: "Georgia", Times, serif;
    font-size: 2.5em;
    color: #162944;
    padding-top: 5em;
}

H2 {

    font-family: "Georgia", Times, serif;
    font-size: 1.5em;
    color: #162944;

}


p {

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.3em;
    color: #162944;
}

#et p {

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #162944;
}

footer p {

    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #162944;
    margin-left: 10px;

}

.hs-responsive-embed-youtube {
position: relative;
padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
padding-top: 25px;
}

.hs-responsive-embed-youtube iframe {
position: absolute;
width: 100%!important;
height: 100%!important;
}

.center{
	width: 50vw;
	margin: 0 auto;
	}

